<div class= "card-office">
<div class="form-office">
<%= form_with model: office, html: { class: "needs-validation", novalidate: true } do |form|    %>
  <div class=form-office-field>
    <%= form.label value="Nombre", class:'office-label form-label' %> <br>
    <%= form.text_field :name , required: true, class: 'form-control'%>
   
    <% office.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>

       <div class="invalid-feedback">
      Por favor, ingrese un nombre.
    </div>
  </div>


  <div class=form-office-field>
    <%= form.label value="Direccion"  , class:'office-label form-label'%><br>
    <%= form.text_area :address , class: 'form-control', required: true %>
    <% office.errors.full_messages_for(:address).each do |message| %>
      <div class="is-invalid"><%= message %></div>
    <% end %>
     <div class="invalid-feedback">
      Por favor, ingrese una direccion.
    </div>
  </div>

 <div class=form-office-field>
    <%= form.label value="Telefono"  , class:'office-label form-label'%><br>
    <%= form.text_field :phone,  required: true, class: 'form-control' %>
    <% office.errors.full_messages_for(:phone).each do |message| %>
      <div is-invalid><%= message %></div>
    <% end %>
      <div class="invalid-feedback">
      Por favor, ingrese un numero de telefono
    </div>
  </div>

  <div class="office-button-section">
  
  <button type="submit"  class="office-button-aproved">
    <%= button %>
  </button>
    <button class="office-button-cancel">
    Cancelar
  </button>
  </div>
<% end %>
</div>
</div>