<div class= "card card-office">
<div  class="view-header">
<h5 class="offices"> <%= @office.name %> </h5>
<div class ="view-button-section">
 <%= link_to edit_office_path(@office) do %>
           <iconify-icon class="edit-office-button" icon="ic:sharp-edit-note"></iconify-icon>
        <% end %> 
       </td> 

       <td>
        <%= button_to office_path(@office), data: {turbo_method: :delete, turbo_confirm: "Esta seguro?"} do %>
          <iconify-icon class="edit-office-button" icon="material-symbols:delete-outline-rounded"></iconify-icon>
        <% end %>
</div>
</div>
<div class="view-office-section">
<h4> Ubicacion: </h4>
<span class="info-office-section"> <%= @office.address %> </span>
</div>

<div class="view-office-section">
<h4> Telefono de Contacto: </h4>
<span class="info-office-section"> <%= @office.phone %> </span>
</div>


<h6>Horarios</h6>
<%= render @office.schedules %>
</div>

<h3>Agregar horarios:</h3>

<%= render 'schedules/form', office: @office %>
