<div class= "card card-office">
<div  class="view-header">
<h5 class="offices"> <%= @office.name %> </h5>
<div class ="view-button-section">
<%= turbo_frame_tag @office , class: "d-flex" do %>
        <% if Current.user.admin?%>
          <%= link_to edit_office_path(@office) do  %>
             <iconify-icon class="edit-office-button" icon="ic:sharp-edit-note"></iconify-icon>         
          <% end %> 
        <% end %> 
        <% if Current.user.admin?%>
          <%= button_to office_delete_path(@office.id), data: {turbo_method: :delete, turbo_confirm: "Esta seguro?"} do %>
            <iconify-icon class="edit-office-button" icon="material-symbols:delete-outline-rounded"> </iconify-icon>
          <% end %>
        <% end %>
        <% if Current.user.admin?%>
          <%= link_to office_schedules_path(@office.id) do %>
            <iconify-icon class="edit-office-button"  icon="ic:round-edit-calendar"></iconify-icon>
          <% end %> 
        <% end %>
  <% end %>
</div>
</div>
<div class="view-office-section">
<h4> Ubicacion: </h4>
<span class="info-office-section"> <%= @office.address %> </span>
</div>

<div class="view-office-section">
<h4> Telefono de Contacto: </h4>
<span class="info-office-section"> <%= @office.phone %> </span>
</div>
<div class="view-schedules-section flex-column">
<h4>Horario de atencion : </h4>
<%= render @office.schedules %>


</div>
</div>


