<div class="form-office">
<%= form_with model: [ @office, @office.schedules.build ] do |form| %>
   <div class="mb-3">
    <%= form.select :days, options_for_select(@days),{:include_blank => false}, :multiple => true, :class => "form-select"%>
  </div>
  <div class="mb-3">
    <%= form.label value="Apertura" %><br>
    <%= form.time_select :start_at, {:minute_step=> 15, :include_seconds=> false} %>
  </div>
  <div class="mb-3">
    <%= form.label value="Cierre" %><br>
   <%= form.time_select :end_at, {:minute_step=> 15, :include_seconds=> false} %>
  </div>
  <div class="mb-3">
    <%= form.submit value="Crear", class: "office-button-aproved" %>
     <%= link_to "Cancelar",  office_schedules_path(@office.id) , class: 'office-button-cancel' , :method => :get %>
  </div>
<% end %>
</div>
