<div class= "card-office">


<h2> Editar horario de <%= @office.name %> </h2>

<div>
    <% @schedule.days.each do |day| %>
        <span> <%= day %> </span>
    <% end %>
    <span> - </span>
    <%= @schedule.start_at.strftime('%H:%M') %> a
          
    <%= @schedule.end_at.strftime('%H:%M') %>
</div>

<div class="form-office">
<%= form_with model: [ @office, @office.schedules.build ], url: office_schedule_path(@office.id, @schedule.id), :method => :put  do |form| %>
   <div class="mb-3">
    <%= form.select :days, options_for_select(@days, @schedule.days),{:include_blank => false}, :multiple => true, :class => "form-select"%>
  </div>
  <div class="mb-3">
    <%= form.label value="Apertura" %><br>
    <%= form.time_select :start_at, {:minute_step=> 15, :include_seconds=> false, :default => {:hour => @schedule.start_at.strftime('%H'), :minute => @schedule.start_at.strftime('%M')}} %>
  </div>
  <div class="mb-3">
    <%= form.label value="Cierre" %><br>
    <%= form.time_select :end_at, {:minute_step=> 15, :include_seconds=> false, :default => {:hour => @schedule.end_at.strftime('%H'), :minute => @schedule.end_at.strftime('%M')}} %>
  </div>
  <div class="mb-3">
    <%= form.submit value="Actualizar", class: "office-button-aproved" %>
     <%= link_to "Cancelar",  office_schedules_path(@office.id) , class: 'office-button-cancel' , :method => :get %> 
  </div>
<% end %>
</div>





<%# <%= render "form", office: @office, schedule: @schedule %>