<h1>Reiniciar clave</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
        <% form.object.errors.messages.each do |fieldname, message| %>
            <div> <%= message[0] %> </div> 
        <% end %>
    </div>    
  <% end %>
  <div class="mb-3">
    <% form.label :password %>
    <%= form.password_field :password, class:"form-control",  placeholder: "Ingrese su clave" %>
  </div>
  <div class="mb-3">
    <% form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control",  placeholder: "Confirme su clave" %>
  </div>
  <div>
    <%= form.submit value="Actualizar", class:"btn btn-primary" %>
  </div>
<% end %>