<div class= "card-office">
<div class="form-office">
<h1><%= title %></h1>
<%= form_with model: @user, url: path do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
        <% form.object.errors.messages.each do |fieldname, message| %>
            <div> <%= message[0] %> </div> 
        <% end %>
    </div>    
  <% end %>
  <div class="mb-3">
    <% form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder: "Ej: usuario@mail.com" %>
  </div>
  <div class="mb-3">
    <% form.label :password %>
    <%= form.password_field :password, class:"form-control",  placeholder: "Ingrese su clave" %>
  </div>
  <div class="mb-3">
    <% form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control",  placeholder: "Confirme su clave" %>
  </div>
    <button type="submit"  class="office-button-aproved">
    <%= button %>
  </button>
  <%= link_to "Cancelar",  cancel_path , class: 'office-button-cancel' , :method => :get %> 
<% end %>
</div>
</div>