<div class="d-flex">
<div class= "d-flex  bank-svg ">
    <%= render inline: Rails.root.join('public/register.svg').read, class: "img-bank" %>
    
    <h4 class= "offices "> Somos tu solucion Financiera!</h4>
  </div>
<div class= "card-office">
<div class="form-office">
<h1 class="offices"><%= title %></h1>
<%= form_with model: @user, url: path , html: { class: "needs-validation", novalidate: true } do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
        <% form.object.errors.messages.each do |fieldname, message| %>
            <div> <%= message[0] %> </div> 
        <% end %>
    </div>    
  <% end %>
  <div class="mb-3">
    <% form.label :email %>
    <%= form.text_field :email, required: true,  class:"form-control", placeholder: "Ej: usuario@mail.com" %>
         <div class="invalid-feedback">
      Por favor, ingrese un email.
    </div>
  </div>
  <div class="mb-3">
    <% form.label :password %>
    <%= form.password_field :password, required: true, class:"form-control",  placeholder: "Ingrese su clave" %>
         <div class="invalid-feedback">
      Por favor, ingrese una clave.
    </div>
  </div>
  <div class="mb-3">
    <% form.label :password_confirmation %>
    <%= form.password_field :password_confirmation,  required: true, class:"form-control",  placeholder: "Confirme su clave" %>
          <div class="invalid-feedback">
      Por favor, ingrese la confirmacion de su clave.
    </div>
  </div>
    <button type="submit"  class="office-button-aproved">
    <%= button %>
  </button>
  <%= link_to "Cancelar",  cancel_path , class: 'office-button-cancel' , :method => :get %> 
<% end %>
</div>
</div>
</div>